*{
    padding: 0px;
    margin: 0px;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: linear-gradient(75deg,#A9F1DF,#FFBBBB);
}
#imgCont{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
img{
    width: 80%;
    height: 60vh;
    box-shadow: 2px 2px 2px black;
    border-radius: 5px;
}
#container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: end;
    align-items: center;
}
#filters,#transform{
    width: 40%;
    height: 100vh;
    background-color: pink;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    flex-direction: column;
}
#transform{
    background-color: #A9F1DF;
}
input{
    width: 80%;
}
h4{
    letter-spacing: 3px;
}